/*
 * CSS for jsPsych experiments.
 *
 * This stylesheet provides minimal styling to make jsPsych
 * experiments look polished without any additional styles.
 */

 /* Container holding jsPsych content */
 body {
     background-color: black;
 }
 .jspsych-display-element {
   display: flex;
   flex-direction: row;
   overflow-y: auto;

 }

 .jspsych-display-element:focus {
   outline: none;
 }

 .jspsych-content-wrapper {
   display: flex;
   margin: auto;
   flex: 1 1 100%;
   width: 100%;

 }

 .jspsych-content {
   max-width: 95%;
   text-align: center;
   margin: auto;

 }

 .jspsych-top {
   align-items: flex-start;
 }

 .jspsych-middle {
   align-items: center;
 }

 .stimBox1 {
     display: block;
     height: 200px;
 	position:relative;
 	top:100%;
 	left:60%;
 }

 .stimBox2 {
     display: block;
     height: 200px;
 	position:relative;
 	top:50%;
 	left:20%;
 }

 .stimulus1 {
   width: 50px;
height: 200px;
    margin-right: auto;
}

.stimulus2 {
  width: 300px;
height: 200px;
    margin-right: auto;
}

.row {
  display: table;
  flex-wrap: wrap;
  padding: 0 50px;
}

/* Create two equal columns that sits next to each other */
.column {
  display: table-cell;
  padding: 0 100px;
}

/* Container holding the image and the text */
/* .container {
    position: relative;
    text-align: center;
    color: white;
} */

/* Positioning for boxes and text */
#centered1 {
    position: absolute;
    opacity: 1;
    width:10.5vw;
    height:10.5vw;
    top: 35vh;
    left: 15vw;
}
#centered2 {
    position: absolute;
    opacity: 1;
    width:10.5vw;
    height:10.5vw;
    top: 35vh;
    left: 35vw;
}
#centered3 {
    position: absolute;
    opacity: 1;
    width:10.5vw;
    height:10.5vw;
    top: 35vh;
    left: 55vw;
}
#centered4 {
    position: absolute;
    opacity: 1;
    width:10.5vw;
    height:10.5vw;
    top: 35vh;
    left: 75vw;
}
#centered1chose {
    position: absolute;
    background-color: white;
    opacity: 1;
    width:10.5vw;
    height:10.5vw;
    top: 35vh;
    left: 15vw;
}
#centered2chose {
    position: absolute;
    background-color: white;
    opacity: 1;
    width:10.5vw;
    height:10.5vw;
    top: 35vh;
    left: 35vw;
}
#centered3chose {
    position: absolute;
    background-color: white;
    opacity: 1;
    width:10.5vw;
    height:10.5vw;
    top: 35vh;
    left: 55vw;
}
#centered4chose {
    position: absolute;
    background-color: white;
    opacity: 1;
    width:10.5vw;
    height:10.5vw;
    top: 35vh;
    left: 75vw;
}
.centeredText1 {
    position: absolute;
    top: 20vh;
    left: 16.5vw;
    color: white;
    font-size: 2vw;
}
.centeredText2 {
    position: absolute;
    top: 20vh;
    left: 36.5vw;
    color: white;
    font-size: 2vw;
}
.centeredText3 {
    position: absolute;
    top: 20vh;
    left: 56.5vw;
    color: white;
    font-size: 2vw;
}
.centeredText4 {
    position: absolute;
    top: 20vh;
    left: 76.5vw;
    color: white;
    font-size: 2vw;
}
#rwdTotal1 {
    position: absolute;
    top: 60vh;
    left: 16.5vw;
    color: white;
    font-size: 2vw;
}
#rwdTotal2 {
    position: absolute;
    top: 60vh;
    left: 36.5vw;
    color: white;
    font-size: 2vw;
}
#rwdTotal3 {
    position: absolute;
    top: 60vh;
    left: 56.5vw;
    color: white;
    font-size: 2vw;
}
#rwdTotal4 {
    position: absolute;
    top: 60vh;
    left: 76.5vw;
    color: white;
    font-size: 2vw;
}

.promptText {
    position:absolute;
    text-align: center;
    top:75%;
    font-size: 2vw;
    transform: translate(-50%, -50%);
}
#bankPos {
    position: absolute;
    top: 10%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
}


#rwdText1 {
  text-align:center;
  vertical-align: middle;
  line-height: 4.5vw;
    font-size: 1.5vw;
    color:black;
}
#rwdText2 {
  text-align:center;
  vertical-align: middle;
  line-height: 4.5vw;
    font-size: 1.5vw;
    color:black;
}
#rwdText3 {
  text-align:center;
  vertical-align: middle;
  line-height: 4.5vw;
    font-size: 1.5vw;
    color:black;
}
#rwdText4 {
  text-align:center;
  vertical-align: middle;
  line-height: 4.5vw;
    font-size: 1.5vw;
    color:black;
}

#loopLeft {
    position: absolute;
    opacity: 1;
    width:10.5vw;
    height:10.5vw;
    top: 25vh;
    left: 37.5vw;
}
#loopRight {
    position: absolute;
    opacity: 1;
    width:10.5vw;
    height:10.5vw;
    top: 25vh;
    left: 52.5vw;
}
.loopLeftText {
    position: absolute;
    top: 15vh;
    left: 38.5vw;
    color: white;
    font-size: 2vw;
}
.loopRightText {
    position: absolute;
    top: 15vh;
    left: 53.5vw;
    color: white;
    font-size: 2vw;
}
#centered1choseLoop {
    position: absolute;
    background-color: white;
    opacity: 1;
    width:10.5vw;
    height:10.5vw;
    top: 25vh;
    left: 37.5vw;
}
#centered2choseLoop {
    position: absolute;
    background-color: white;
    opacity: 1;
    width:10.5vw;
    height:10.5vw;
    top: 25vh;
    left: 52.5vw;
}

/* fonts and type */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

.jspsych-display-element {
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 1.6em;
}

/* Form elements like input fields and buttons */

input[type="text"] {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
}

/* borrowing Bootstrap style for btn elements, but combining styles a bit */
.jspsych-btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', 'Arial', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.jspsych-btn:hover {
  background-color: #ddd;
  border-color: #aaa;
}

.jspsych-btn:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}

/* jsPsych progress bar */

#jspsych-progressbar-container {
  color: #555;
  border-bottom: 1px solid #dedede;
  background-color: #f9f9f9;
  margin-bottom: 1em;
  text-align: center;
  padding: 8px 0px;
  width: 100%;
  line-height: 1em;
}
#jspsych-progressbar-container span {
  font-size: 14px;
  padding-right: 14px;
}
#jspsych-progressbar-outer {
  background-color: #eee;
  width: 50%;
  margin: auto;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
#jspsych-progressbar-inner {
  background-color: #aaa;
  width: 0%;
  height: 100%;
}

/* Control appearance of jsPsych.data.displayData() */
#jspsych-data-display {
  text-align: left;
}
